doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Pet Sitter
		link(rel='stylesheet', href='./css/app.css')
	body
		#page-wrap
			h1 Pet Sitter

			#controls
				select#gender
					option Male
					option Female
				select#species
					option(value='chupacabra') Chupacabra
					option(value='sasquatch') Sasquatch
					option(value='yeti') Yeti
					option(value='seadragon') Sea Dragon
				input#name(type='text' placeholder='Name')
				input#age(type='text' placeholder='Age')
				button#add Add Pet

			#pets

		script(src='./js/vendor/traceur.js')
		script(src='./js/vendor/experimental.js')
		script(src='./js/vendor/jquery-2.1.0.js')
		script(src='./js/vendor/lodash-2.4.1.js')
		script(src='./js/vendor/moment-2.6.0.js')
		script(src='./js/es6/database.js')
		script(src='./js/es6/utility.js')
		script(src='./js/es6/pet.js')
		script(src='./js/es6/main.js')
